@font-face {
  font-family: 'doomregular';
  src: url('~/assets/fonts/doom-webfont.eot');
  src: url('~/assets/fonts/doom-webfont.eot?#iefix') format('embedded-opentype'),
       url('~/assets/fonts/doom-webfont.woff') format('woff'),
       url('~/assets/fonts/doom-webfont.ttf') format('truetype'),
       url('~/assets/fonts/doom-webfont.svg#doomregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0px;
  overflow: hidden;
  text-align: center;
}

#hud {
  color: orange;
  display: none;
  font-family: 'doomregular';
  font-size: 24px;
  pointer-events: none; user-select: none;
  position: absolute; top: 0px;
  width: 100%;
  z-index: 666;
}

#hud-shellsContainer {
  float: left; text-align: left; margin-left: 20px;
}

#hud-healthContainer {
  float: right; text-align: right; margin-right: 20px;
}

#health, #shells{
  font-size: 48px;
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url('~/assets/misc/mainMenu.png');
  background-size: cover;

  text-align: center;
  font-family: 'doomregular';
  color: orange;
}

.button {
  font-size: 12vh;
  background-color: #111A;

  padding: 3vh;
  margin: 3vh;
  width: min-content;

  border: 1px solid orange;
  border-radius: 1.5vh;
  transform: skew(-20deg);

  display: inline-block;
}

#mainMenu .header {
  font-size: 15vh;
  margin: 20vh 0 0 0;
}

#controlsMenu-controls {
  color: orange;
  background-color: #111A;
  font-family: 'doomregular';
  font-size: 6vh;

  margin: 5vh 3vh 3vh 3vh;

  border-radius: 1.5vh;
}

#controlsMenu {
  display: none;
}
